//Colors
$color-black: rgb(0, 0, 0);
$color-white: rgb(255, 255, 255);
$accent-color: #FFF; //#013251;
$win-color: #16b122;
$lose-color: #be3144;

//Fonts
$default-font: 2rem; //Section-padding
$padding-side : 8rem;