.header {
    height: 70vh;
    background-image: linear-gradient(rgba($color-white, .6), rgba($color-white, .6)),
        url("img/header.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom bottom;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0 $padding-side;
    text-align: center;

    &__description {

        h1 {
            margin-bottom: 1rem;
            font-size: 4rem;
        }

    }

}
.header__play {
    margin: 0 auto;
}

.header__play--standard {
    display: flex;
    align-items: center;

    &-icon {
        margin-right: 1rem;
    }

    &-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}