.header {
    background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
    padding: 7rem $padding-side;
    text-align: center;
    border-bottom: 1px solid #fff;



    &__description {
        margin-bottom: 7rem;

        h1 {
            color: $accent-color;
            margin-bottom: 1.5rem;
        }
    }
}

.header__play--standard {
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;

    &-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 2rem 3rem;

        h2 {
            color: $accent-color;
        }
    }
}